@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes anim-zoom {
  0% {
    width: 64px;
    height: 64px;
    opacity: 1;
  }
  99% {
    width: 2000px;
    height: 2000px;
    opacity: 0;
  }
  100% {
    width: 64px;
    height: 64px;
    opacity: 0;
  }
}

.pulse {
  @apply absolute left-0 right-0 size-16 -translate-x-1/2 -translate-y-1/2 rounded-full border-[60px] border-emerald-500/20 opacity-0;
  animation: anim-zoom 40s ease infinite;
}
